<div class="login-container">

  <div class="login-header">
    <h1>Welcome Back</h1>
    <p>Sign in to continue to Smart Utility</p>
  </div>

  <div class="login-card">

    <form #loginForm="ngForm"  (ngSubmit)="login()">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="loginData.username"
        name="username"
        required />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="loginData.password"
        name="password"
        required />

      <button type="submit" [disabled]="loginForm.invalid || loading">
        {{ loading ? 'Signing in...' : 'Login' }}
      </button>
    </form>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <p class="register-link">
      New here?
      <a routerLink="/register">Create an account</a>
    </p>

  </div>

</div>
