version: '3.8'

services:

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8888/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10


  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8765:8765"
    depends_on:
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - mongo
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  consumer-service:
    build: ./consumer-service
    container_name: consumer-service
    ports:
      - "8082:8082"
    depends_on:
      - mongo
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  connection-service:
    build: ./connection-service
    container_name: connection-service
    ports:
      - "8083:8083"
    depends_on:
      - mongo
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  # meter-reading-service:
  #   build: ./meter-reading-service
  #   container_name: meter-reading-service
  #   ports:
  #     - "8084:8084"
  #   depends_on:
  #     - mongo
  #     - config-server
  #     - eureka-server
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=docker
  meter-reading-service:
    build: ./meter-reading-service
    container_name: meter-reading-service
    ports:
      - "8084:8084"
    depends_on:
      config-server:
        condition: service_healthy
      mongo:
        condition: service_started
      eureka-server:
        condition: service_started
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  billing-service:
    build: ./billing-service
    container_name: billing-service
    ports:
      - "8085:8085"
    depends_on:
      - mongo
      - kafka
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8086:8086"
    depends_on:
      - mongo
      - kafka
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8087:8087"
    depends_on:
      - kafka
      - config-server
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker

volumes:
  mongo_data:
