<div style="display: flex; height: 100vh;">
  
  <!-- LEFT SIDEBAR -->
  <aside style="
    width: 240px;
    background: #7A7978;
    color: white;
    padding: 20px;
  ">
    <h3>Utility System</h3>

    <nav>
      <a *ngFor="let item of menu"
         [routerLink]="item.path"
         style="
           display: block;
           padding: 10px;
           margin: 6px 0;
           background: #87CBAC;
           color: black;
           text-decoration: none;
           border-radius: 6px;
         ">
        {{ item.label }}
      </a>
    </nav>
  </aside>

  <!-- MAIN CONTENT -->
  <main style="flex: 1; padding: 20px; background: #8DE4FF;">
    <router-outlet></router-outlet>
  </main>

</div>
